[id^='stolaf'] {
	box-sizing: border-box;

	font-family: Fira Sans;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	/*border: solid 1px rgba(0, 0, 0, 0.8);*/

	overflow: hidden;
}

[id^='stolaf'] *,
[id^='stolaf'] *::before,
[id^='stolaf'] *::after {
	box-sizing: inherit;
}

[id^='stolaf'] .wrapper {
	height: inherit;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-between;
}

[id^='stolaf'] .wrapper > * {
	padding: 0.5rem 2rem;
}

[id^='stolaf'] .details {
	padding-top: 2rem;
}

[id^='stolaf'] .title {
	padding-bottom: 1rem;
}

[id^='stolaf'] .title {
	color: rgb(128, 128, 128);
	font-family: Avenir Next Condensed;
	font-size: 1.75rem;
	font-weight: 300;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

[id^='stolaf'] .details {
	-webkit-flex: 1;
}

[id^='stolaf'] .title, [id^='stolaf'] .details {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

[id^='stolaf'] ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.aqua   { color: rgb(  0, 159, 153) }
.blue   { color: rgb(  0, 108, 230) }
.green  { color: rgb(  0, 186,   0) }
.orange { color: rgb(252, 107,   0) }
.pink   { color: rgb(252,  88, 181) }
.purple { color: rgb(155,   0, 194) }
.red    { color: rgb(255,  48,   0) }
.silver { color: rgb(174, 183, 188) }
.yellow { color: rgb(255, 198,   0) }
