[id^='stolaf'] {
	box-sizing: border-box;

	font-family: Avenir Next;

	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

[id^='stolaf'].widget *,
[id^='stolaf'].widget *::before,
[id^='stolaf'].widget *::after {
	box-sizing: inherit;
}

[id^='stolaf'].wrapper {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-between;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

[id^='stolaf'] .wrapper > * {
	padding: 0.5rem 2rem;
}

[id^='stolaf'] .wrapper > *:first-child {
	padding-top: 2rem;
}

[id^='stolaf'] .wrapper > *:last-child {
	padding-bottom: 1rem;
}

[id^='stolaf'] .title {
	text-align: center;
	font-family: Avenir Next Condensed;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	font-size: 1.75em;
	color: rgb(128, 128, 128);
	-webkit-flex: 1;
	flex: 1;
}

[id^='stolaf'] .details {
	-webkit-flex: 1;
	flex: 1;
}

[id^='stolaf'] .title, [id^='stolaf'] .details {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.aqua   { color: rgb(  0, 159, 153) }
.blue   { color: rgb(  0, 108, 230) }
.green  { color: rgb(  0, 186,   0) }
.orange { color: rgb(252, 107,   0) }
.pink   { color: rgb(252,  88, 181) }
.purple { color: rgb(155,   0, 194) }
.red    { color: rgb(255,  48,   0) }
.silver { color: rgb(174, 183, 188) }
.yellow { color: rgb(255, 198,   0) }
