body {
	background-color: rgba(0, 0, 0, 0.85);
}

[id^='background-updaters'] {
	font-family: Fira Sans;
}

[id^='widgets'] {
	box-sizing: border-box;

	font-family: Fira Sans;
	color: white;

	overflow: hidden;
}

[id^='widgets'] *,
[id^='widgets'] *::before,
[id^='widgets'] *::after {
	box-sizing: inherit;
}

[id^='widgets'] .wrapper {
	height: inherit;
	display: -webkit-flex;
	-webkit-flex-flow: column nowrap;
	-webkit-justify-content: space-between;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

[id^='widgets'] .wrapper > * {
	padding: 0.5rem 2rem;
}

[id^='widgets'] .details {
	padding-top: 2rem;
}

[id^='widgets'] .title {
	padding-bottom: 1rem;
}

[id^='widgets'] .title {
	color: rgb(128, 128, 128);
	font-family: Fira Sans;
	font-size: 1.75rem;
	font-weight: 200;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

[id^='widgets'] .details {
	-webkit-flex: 1;
	flex: 1;
}

[id^='widgets'] .title, [id^='widgets'] .details {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

[id^='widgets'] ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.aqua   { color: rgb(  0, 159, 153) }
.blue   { color: rgb(  0, 108, 230) }
.green  { color: rgb(  0, 186,   0) }
.orange { color: rgb(252, 107,   0) }
.pink   { color: rgb(252,  88, 181) }
.purple { color: rgb(155,   0, 194) }
.red    { color: rgb(255,  48,   0) }
.silver { color: rgb(174, 183, 188) }
.yellow { color: rgb(255, 198,   0) }

.bg-aqua   { background-color: rgb(  0, 159, 153) !important }
.bg-blue   { background-color: rgb(  0, 108, 230) !important }
.bg-green  { background-color: rgb(  0, 186,   0) !important }
.bg-orange { background-color: rgb(252, 107,   0) !important }
.bg-pink   { background-color: rgb(252,  88, 181) !important }
.bg-purple { background-color: rgb(155,   0, 194) !important }
.bg-red    { background-color: rgb(255,  48,   0) !important }
.bg-silver { background-color: rgb(174, 183, 188) !important }
.bg-yellow { background-color: rgb(255, 198,   0) !important }

.w100 { font-weight: 100 }
.w200 { font-weight: 200 }
.w300 { font-weight: 300 }
.w400 { font-weight: 400 }
.w500 { font-weight: 500 }
.w600 { font-weight: 600 }
.w700 { font-weight: 700 }
.w800 { font-weight: 800 }
.w900 { font-weight: 900 }
